/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
    min-inline-size: 320px;
    min-block-size: 100 dvb;
    font-family: var(--main-font, 'Inter'), sans-serif;
    background-color: var(--bg-color, #FFFFFF);
    color: var(--accent-color, #000000);
    background-image: repeating-linear-gradient(90deg, var(--color-gradient-striples) 0px, var(--color-gradient-striples) 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(var(--color-gradient-striples) 0px, var(--color-gradient-striples) 2px, transparent 2px, transparent 4px), linear-gradient(var(--color-gradient-start), var(--color-gradient-start) 0.01%, var(--color-gradient-end) 100%);
    background-attachment: fixed;
    background-size: cover;
    min-width: 375px;
    max-width: 1440px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@supports (font-variation-settings: normal) {
    .page {
        font-weight: var(--main-font-weight, 400);
    }
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color, #FFFFFF);
    font-family: var(--accent-font, 'PressStart2P'), fantasy;
    margin-block: 100px;
    text-transform: uppercase;
    border: 2px solid var(--accent-color, #000000);
}

@media (min-width: 701px) {
    .header {
        width: 700px;
    }
}

.content {
    min-width: 375px;
    max-width: 700px;
}

.heading {
    font-size: clamp(1.0025rem, 2.6808rem + 1.4085vw, 4.0625rem);
    padding: 122px 14px 0px;
    line-height: 43px;
}

@media (min-width: 700px) {
    .heading {
        padding: 148px 122.5px 0px;
    }
}

.subheading {
    font-size: clamp(0.875rem, 0.7165rem + 0.7923vw, 1.4375rem);
    padding-top: 24px;
}

@media (min-width: 701px) {
    .subheading {
        padding-top: 30px;
    }
}

.theme-menu {
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 11px;
}

.theme-menu__item {
    font-size: 14px;
    margin-block-end: 8px;
}

.theme-menu__button {
    position: relative;
    background-color: inherit;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
}

.theme-menu__button:disabled::before {
    content: "▶";
    position: absolute;
    color: inherit;
    left: -20px;
    top: 0;
    pointer-events: none;
    animation: moving 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:focus {
    border: none;
    outline: none;
}

.link-nice::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    bottom: 0;
    margin-top: 2px;
    transition: width 300ms, background-color 0.5s;
    border: none;
}

.link-nice:focus::after {
    width: 0;
}

.link-nice:focus-visible::after {
    width: 100%;
    background-color: currentColor;
}

.link-nice:active::after {
    width: 0;
}

.theme-menu__button:hover {
    color: var(--color-hover);
    cursor: pointer;
    transition: color 0.3s ease;
}

.theme-menu__button:disabled {
    pointer-events: none;
    color: var(--color-hover);
}

.theme-menu__button:focus-visible {
    color: var(--color-hover);
    transition: color 0.3s ease;
}

.cards_list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color, #FFFFFF);
    border: 2px solid var(--accent-color, #000000);
}

.article_name {
    padding: 5px 10px 5.4px;
    font-size: 18px;
    line-height: 21.78px;
}

.wrapper {
    position: relative;
}

.image_container {
    margin: 0;
    padding: 0;
    outline: 2px solid var(--accent-color, #000000);
}

.label {
    position: absolute;
    font-family: var(--accent-font, 'PressStart2P'), fantasy;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--accent-color, #000000);
    mix-blend-mode: hard-light;
    top: 25px;
    right: 12px;
    z-index: 10;
}

@media (min-width: 701px) {
    .label {
        right: 26px;
    }
}

@supports (-webkit-text-stroke: 1px var(--label-border-color)) or (text-stroke: 1px var(--label-border-color)) {
    .label {
        -webkit-text-stroke: 1px var(--label-border-color);
        text-stroke: 1px var(--label-border-color);
    }
}

@supports not (text-stroke: 1px var(--label-border-color)) {
    .label {
        text-shadow: -1px -1px 0 var(--label-border-color),
        1px -1px 0 var(--label-border-color),
        -1px 1px 0 var(--label-border-color),
        1px 1px 0 var(--label-border-color);
    }
}

.image {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

@media (min-width: 697px) {
    .image {
        max-width: 700px;
    }
}

.purple_truck {
    filter: brightness(300%)
}

.black_truck {
    filter: blur(10px);
}

.neon_truck {
    filter: blur(1px);
}

.pink_truck {
    transition: 4s ease;
    cursor: pointer;
}

.pink_truck:hover {
    filter: opacity(0);
}

.green_truck {
    cursor: pointer;
    transition: 3s ease;
}

.green_truck:hover {
    filter: grayscale(1);
}

.brown_truck {
    cursor: pointer;
    transition: 2s ease;
}

.brown_truck:hover {
    filter: saturate(300%);
}

.blur_truck {
    filter: sepia(10%);
}

.red_truck {
    filter: brightness(200%) saturate(60%) sepia(10%);
}

.article {
    font-family: var(--main-font, 'Inter'), sans-serif;
    font-size: 18px;
    padding: 26px 25px 1px;
    line-height: 21px;
}

@media (min-width: 701px) {
    .article {
        padding: 27px 25px 0px;
    }
}

.button {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 25px;
    margin-bottom: 20px;
    margin-top: 25px;
}

/*card__icon-button — для кнопки, оборачивающей иконку*/
.card__icon-button {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    padding: 0;
    cursor: pointer;
    border: 2px solid transparent;
}

.card__icon-button:focus {
    border: none;
    outline: none;
}

.card__icon-button:focus-visible {
    border: 2px solid var(--accent-color);
    transition: border 0.3s ease;
}

.card__icon-button:hover {
    fill: var(--accent-color);
    transition: fill 0.03s ease;
}

/*✦ like-icon — для svg-иконки анимированного сердца*/
.like-icon {
}

.core {
    fill: transparent;
    transition: fill 0.3s linear;
}

.main-body {
    fill: transparent;
    transition: fill 0.3s linear;
    transition-delay: 0.05s;
}

.heart {
    transform-origin: center;
}

.heart:hover .core {
    fill: var(--accent-color);
    opacity: 1;
}

.heart:hover .main-body {
    fill: var(--accent-color);
    opacity: 1;
}

.heart:not(:hover).core {
    transition-delay: 0.03s;
    fill: var(--contour-color);
}

.heart:active .core {
    fill: var(--fill-color);
    opacity: 1;
}

.heart:active .main-body {
    fill: var(--fill-color);
    opacity: 1;
}

.like-icon.is-liked .core {
    fill: var(--fill-color);
}

.like-icon.is-liked .main-body {
    fill: var(--fill-color);
    transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
    fill: var(--fill-color);
    transition: fill 0.6s linear;
}

.like-icon.is-liked .heart {
    animation: bigger 0.3s ease-in 0.1s;
}

.sparks {
    fill: transparent;
    transition: fill 0.3s linear;
}

.heart:active .sparks {
    fill: var(--fill-color);
    opacity: 1;
}

.like-icon.is-liked .sparks {
    fill: var(--fill-color);
    opacity: 1;
    animation: sparkle 0.3s ease-in 0.3s forwards;
}

/*✦ card__like-button — для кнопки Like рядом с иконкой*/
.card__like-button {
    position: relative;
    display: inline-block;
    font-size: 0;
    border: 2px solid var(--accent-color);
    padding: 0;
    background-color: var(--bg-color);
    min-width: 130px;
    height: 38px;
    overflow: hidden;
    margin-left: -3px;
}

.card__like-button::before {
    content: "";
    position: absolute;
    background-color: var(--accent-color);
    transform: scaleX(0);
    box-shadow: 2px 2px 0 var(--accent-color);
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card__like-button:hover::before {
    transform: scaleX(1);
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
}

.card__like-button:hover {
    cursor: pointer;
}

.card__like-button span {
    position: relative;
    z-index: 2;
}

.card__like-button:focus {
    outline: none;
}

.card__like-button:focus-visible {
    box-shadow: 2px 2px 0 var(--accent-color);
    transition: box-shadow 0.5s ease;
}

.button__text {
    font-family: var(--accent-font, 'PressStart2P'), fantasy;
    font-size: 14px;
    color: var(--like-color);
    mix-blend-mode: difference;
}

.last_button {
    position: relative;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin: 0 auto 100px;
    min-width: 306px;
    padding: 10px 0px;
    border: 2px solid var(--accent-color);
    font-size: 14px;
}

@media (min-width: 700px) {
    .last_button {
        flex-direction: row;
        width: 335px;
        padding: 5px 0px;
    }

    .floppy_button {
       margin-right: 4px;
    }

}

.last_button::before {
    content: "";
    position: absolute;
    background-color: var(--accent-color);
    transform: scaleX(0);
    box-shadow: 2px 2px 0 var(--accent-color);
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.last_button:hover::before {
    transform: scaleX(1);
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
}

.last_button:hover {
    cursor: pointer;
}

.last_button span {
    position: relative;
    z-index: 2;
}

.last_button:focus {
    outline: none;
}

.last_button:focus-visible {
    outline: none;
    box-shadow: 2px 2px 0 var(--accent-color);
    transition: box-shadow 0.5s ease;
}

.floppy_button {
    width: 28px;
    color: var(--like-color);
    mix-blend-mode: difference;
    z-index: 10;
}

@media (min-width: 700px) {
    .floppy_button {
        width: 21px;
    }
}

.floppy_dialog {
    color: var(--like-color);
    mix-blend-mode: difference;
    place-self: center;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / 0.7);
    backdrop-filter: blur(0);
}

.opened_window {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-width: 341px;
    min-height: 195px;
    background-color: var(--bg-color);
    border: 2px solid var(--accent-color);
}

.opened_window[open] {
    display: flex;
}

.text_uppercase {
    text-transform: uppercase;
    line-height: 21px;
}

.dialog_content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 257px;
}

.ok_button {
    position: relative;
    background-color: var(--bg-color);
    color: var(--accent-color);
    font-family: var(--accent-font, 'PressStart2P'), fantasy;
    font-size: 14px;
    text-transform: uppercase;
    width: 257px;
    padding: 10px 114.5px;
    border: 2px solid var(--accent-color);
    margin-top: 10px;
}

.ok_button span {
    position: relative;
    z-index: 2;
}

.ok_button::before {
    content: "";
    position: absolute;
    background-color: var(--accent-color);
    transform: scaleX(0);
    box-shadow: 2px 2px 0 var(--accent-color);
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ok_button:hover::before {
    transform: scaleX(1);
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
}

.ok_button:hover {
    cursor: pointer;
}

.ok_button span {
    position: relative;
    z-index: 2;
}

.ok_button:focus {
    outline: none;
}

.ok_button:focus-visible {
    outline: none;
    box-shadow: 2px 2px 0 var(--accent-color);
    transition: box-shadow 0.5s ease;
}