/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
    min-inline-size: 320px;
    min-block-size: 100 dvb;
    font-family: var(--main-font, 'Inter');
    background-color: var(--bg-color, #FFFFFF);
    color: var(--accent-color, #000000);
    background-image: repeating-linear-gradient(90deg, var(--color-gradient-striples) 0px, var(--color-gradient-striples) 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(var(--color-gradient-striples) 0px, var(--color-gradient-striples) 2px, transparent 2px, transparent 4px), linear-gradient(var(--color-gradient-start), var(--color-gradient-start) 0.01%, var(--color-gradient-end) 100%);
    background-attachment: fixed;
    background-size: cover;
    min-width: 375px;
    max-width: 1440px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

@supports (font-variation-settings: normal) {
    .page {
        font-weight: var(--main-font-weight, 400);
    }
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color, #FFFFFF);
    font-family: var(--accent-font), fantasy;
    margin-block: 100px;
    text-transform: uppercase;
    border: 2px solid var(--accent-color, #000000);
}

@media (min-width: 701px) {
    .header {
        width: 700px;
        height: 368px;
        /*gap: 10px;*/
    }
}

.content {
    min-width: 375px;
    max-width: 700px;
}

.heading {
    font-size: clamp(1.0025rem, 2.6808rem + 1.4085vw, 4.0625rem);
    padding: clamp(120px, 114.4348px + 1.7391cqi, 136px) clamp(14px, -23.0435px + 11.5761cqi, 120.5px) 0px;
    line-height: 49px;
}

.subheading {
    font-size: clamp(0.875rem, 0.7165rem + 0.7923vw, 1.4375rem);
    padding-top: 20px;
}

@media (min-width: 701px) {
    .subheading {
        padding-top: 30px;
    }
}

.theme-menu {
    padding-top: 24px;
    padding-bottom: 20px;
}

.theme-menu__item {
    font-size: 14px;
}

.theme-menu__item:not(:last-child) {
    margin-block-end: 9px;
}

.theme-menu__button {
    position: relative;
    background-color: inherit;
    border: none;
    padding-left: 20px;
    text-transform: uppercase;
    background-color: hotpink;
    display: inline-block;
}

.theme-menu__button:disabled::before {
    content: "▶";
    position: absolute;
    color: inherit;
    left: 0;
    pointer-events: none;
    animation: moving 0.5s ease-in-out infinite alternate;
}

@keyframes moving {
    from {
        translate: 0 0;
    }

    to {
        translate: 4px 0;
    }
}

.theme-menu__button:hover {
    color: var(--color-hover);
    cursor: pointer;
    transition: color 0.3s ease;
}

.theme-menu__button:disabled {
    pointer-events: none;
    color: var(--color-hover);
}


.theme-menu__button::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 2px;
    margin-top: 1px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.theme-menu__button:hover::after {
    transform: scaleX(1);
}


.theme-menu__button:focus-visible::after {
    width: 100%;
    outline: none;
    transform: scaleX(1);
    /*scale: 1;*/
    color: var(--color-hover);
    transition: color 0.3s ease, transform 0.3s ease;

}

.theme-menu__button:focus {
    outline: none;
}

.theme-menu__button:focus-visible {
    color: var(--color-hover);
    transition: color 0.3s ease;
}


.cards_list {
    display: flex;
    flex-direction: column;
    gap: 49px;
}


.card {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color, #FFFFFF);
    /*margin-block-end: 54px;*/
    border: 2px solid var(--accent-color, #000000);
}

.article_name {
    padding: 4px 10px 7px;
    font-size: 18px;
}

.wrapper {
    position: relative;
}

.label {
    position: absolute;
    font-family: var(--accent-font, fantasy);
    font-size: 14px;
    text-transform: uppercase;
    color: var(--accent-color, #000000);
    mix-blend-mode: hard-light;
    top: 25px;
    right: 12px;
}

@media (min-width: 701px) {
    .label {
        /*margin-top: 5px;*/
        right: 26px;
    }
}


@supports (-webkit-text-stroke: 1px var(--label-border-color)) or (text-stroke: 1px var(--label-border-color)) {
    .label {
        -webkit-text-stroke: 1px var(--label-border-color);
        text-stroke: 1px var(--label-border-color);
    }
}

@supports not (text-stroke: 1px var(--label-border-color)) {
    .label {
        text-shadow: -1px -1px 0 var(--label-border-color),
        1px -1px 0 var(--label-border-color),
        -1px 1px 0 var(--label-border-color),
        1px 1px 0 var(--label-border-color);
    }
}

.image {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
    outline: 2px solid var(--accent-color, #000000);
}

@media (min-width: 697px) {
    .image {
        max-width: 696px;
    }
}


.article {
    font-family: var(--main-font), Inter;
    font-size: 18px;
    padding: 25px 25px 0px;
}


.button {
    display: flex;
    justify-content: flex-end;
    /*background-color: #ffc400;*/
    gap: 10px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
}


/*card__icon-button — для кнопки, оборачивающей иконку*/
.card__icon-button {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    /*background-color: transparent;*/
    background-color: hotpink;
    padding: 0;
    cursor: pointer;
    border: 2px solid transparent;

}

.card__icon-button:focus {
    border: none;
    outline: none;
}

.card__icon-button:focus-visible {
    border: 2px solid var(--accent-color);
    transition: border 0.3s ease;

}

.card__icon-button:hover {
    fill: var(--accent-color);
    transition: fill 0.5s ease;
}


/*✦ like-icon — для svg-иконки анимированного сердца*/
.like-icon {
    /*background-color: #20f606;*/
    /*width: 27px;*/
    /*height: 24px;*/
}


/*.sparks {*/
/*    fill: transparent;*/
/*    transition: fill 0.3s ease;*/
/*}*/

/*.sparks:hover {*/
/*    fill: var(--fill-color);*/
/*    opacity: 1;*/
/*}*/

/*Это мой код*/

/*Это начало кода*/
.core {
    fill: transparent;
    transition: fill 0.3s linear;
}

.main-body {
    fill: transparent;
    transition: fill 0.3s linear;
    transition-delay: 0.05s;
}

.heart:hover .core {
    fill: var(--accent-color);
    opacity: 1;
    /*transition: fill 0.3s linear;*/
}


.heart:hover .main-body {
    fill: var(--accent-color);
    opacity: 1;
    /*transition: fill 0.3s linear;*/
}

.heart:not(:hover).core {
    transition-delay: 0.03s;
    fill: var(--contour-color);
}


.heart:active .core {
    fill: var(--fill-color);
    opacity: 1;
    /*transition: fill 0.3s linear;*/
}

.heart:active .main-body {
    fill: var(--fill-color);
    opacity: 1;
    /*transition: fill 0.3s linear;*/
}

.like-icon.is-liked .core {
    fill: var(--fill-color);
}

.like-icon.is-liked .main-body {
    fill: var(--fill-color);
    transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
    fill: var(--fill-color);
    transition: fill 0.6s linear;
}

.like-icon.is-liked .heart {
    animation: bigger 0.3s ease-in 0.1s;
}

@keyframes bigger {
    from {
        scale: 1;
    }
    50% {
        scale: 1.15;
    }
    to {
        scale: 1;
    }
}








/*@keyframes fill {*/
/*    from {*/
/*        fill: transparent;*/
/*    }*/
/*    50% {*/
/*        fill: var(--fill-color);*/
/*    }*/
/*    to {*/
/*        fill: transparent;*/
/*    }*/
/*}*/



.sparks {
    fill: transparent;
    transition: fill 0.3s linear;

    /*animation: sparkle 0.3s ease-in 0.3s forwards;*/
    /*!*fill: transparent;*!*/
    /*opacity: 0;*/
    /*!*transition: fill 0.3s ease-in 0.3s;*!*/
}

.heart:active .sparks {
    fill: var(--fill-color);
    opacity: 1;
    /*transition: fill 0.3s linear;*/
}

.like-icon.is-liked .sparks {
    fill: var(--fill-color);
    opacity: 1;
    /*transition: fill 0.6s linear;*/
    animation: sparkle 0.3s ease-in 0.3s forwards;
}


@keyframes sparkle {
    from {
        fill: transparent;
    }

    to {
        fill: transparent;
    }

}

/*.like-icon.is-liked .sparks {*/
/*    transition: opacity 0.3s ease-in 0.1s;*/
/*}*/


/*1s, opacity 0.3s ease 6s;*/

/*.heart:hover .main-body {*/
/*    fill: var(--fill-color);*/
/*    opacity: 1;*/
/*    !*transition: fill 0.3s ease 1s, opacity 0.3s ease 4s;*!*/
/*}*/

/*.heart:hover .contour {*/
/*    fill: var(--fill-color);*/
/*    opacity: 1;*/
/*    !*transition: fill 0.3s ease 1s, opacity 0.3s ease 2s;*!*/
/*}*/

/*.heart:hover ~ .sparks {*/
/*    fill: var(--fill-color);*/
/*    opacity: 1;*/
/*    !*transition: fill 0.3s ease 1s, opacity 0.3s ease 5s;*!*/
/*}*/


/*Это конец кода*/
/*я то же тебя люблю*/

/*✦ card__like-button — для кнопки Like рядом с иконкой*/
.card__like-button {
    position: relative;
    display: inline-block;
    font-size: 0;
    border: 2px solid var(--accent-color);
    padding: 0;
    /*background-color: orange;*/
    min-width: 130px;
    min-height: 38px;
    overflow: hidden;
    /*mix-blend-mode: difference;*/

}


.card__like-button::before {
    content: "";
    position: absolute;
    background-color: black;
    transform: scaleX(0);
    box-shadow: 2px 2px 0 var(--accent-color);
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card__like-button:hover::before {
    transform: scaleX(1);
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
    color: #FFFFFF;
}

.card__like-button:hover {
    color: #FFFFFF;
    cursor: pointer;

}

.card__like-button span {
    position: relative;
    z-index: 2;
}

.card__like-button:focus {
    outline: none;

}

.card__like-button:focus-visible {
    box-shadow: 2px 2px 0 var(--accent-color);
    transition: box-shadow 0.5s ease;
}


.button__text {
    font-family: var(--accent-font), fantasy;
    font-size: 14px;
    color: var(--like-color);
    mix-blend-mode: difference;
}


.last_button {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
    margin: 52px auto 100px;
    min-width: 306px;
    height: 84px;
    border: 2px solid var(--accent-color);
    font-size: 14px;
}

@media (min-width: 700px) {
    .last_button {
        flex-direction: row;
        width: 335px;
        height: 55px;
    }
}

.last_button::before {
    content: "";
    position: absolute;
    background-color: black;
    transform: scaleX(0);
    box-shadow: 2px 2px 0 var(--accent-color);
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.last_button:hover::before {
    transform: scaleX(1);
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
}


.last_button:focus {
    outline: none;
}

.last_button:focus-visible {
    outline: none;
    box-shadow: 2px 2px 0 var(--accent-color);
    transition: box-shadow 0.5s ease;
}

.floppy_button {
    width: 28px;
    height: auto;
    fill: var(--like-color);
    mix-blend-mode: difference;

}

@media (min-width: 700px) {
    .floppy_button {
        width: 21px;

    }
}


.floppy_dialog {
    fill: var(--like-color);
    mix-blend-mode: difference;
    place-self: center;
    /*width: 39px;*/
    /*height: auto;*/

}

dialog::backdrop {
    background-color: rgb(0 0 0 / 0.7);
    backdrop-filter: blur(0);
}

.opened_window {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-width: 341px;
    min-height: 195px;
    background-color: var(--bg-color);
    border: 2px solid var(--accent-color);


}

.opened_window[open] {
    display: flex;
}

.text_uppercase {
    text-transform: uppercase;
    line-height: 21px;
}


.dialog_content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 257px;
    height: 63px;
}

.ok_button {
    color: var(--accent-color);
    font-family: var(--accent-font), fantasy;
    font-size: 14px;
    text-transform: uppercase;
    width: 257px;
    height: 38px;
    border: 2px solid var(--accent-color);
    background-color: inherit;
}




